<html>
<center><h1 style="margin: 5px;" >Daily planner for {{season}}</h1></center>
{% for i in range(months|length) %}
<center><h2 style="margin: 5px;" >{{months[i].strftime('%B')}}</h2></center>
<table style="border-collapse:collapse; width:100%">
    <tr>
        <th style="border:1px solid black;">Activity</th>
        {% for d in range(days[i]) %}
        <th style="border:1px solid black;">{{d+1}}</th>
        {% endfor %}
    </tr>
    {% for activity in activities %}
    <tr>
        <th style="border:1px solid black;">{{activity}}</th>
        {% for d in range(days[i]) %}
        <td style="border:1px solid black;"></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endfor %}
</html>
