<html>
<center><h1>Disc Golf</h1><center>
<table style="border-collapse:collapse;width:100%">
    <tr>
        <th style="border:1px solid black;height: 35px;">Date</th>
        {% for i in range(10) %}
        <th style="border:1px solid black;">{{ i + 1 }}</th>
        {% endfor %}
        <th style="border:1px solid black;">Total</th>
    </tr>
    {% for date in dates %}
    <tr>
        <td style="border:1px solid black;height: 35px;">{{date.strftime('%b %d')}}</td>
        {% for i in range(10) %}
        <th style="border:1px solid black;"></th>
        {% endfor %}
        <th style="border:1px solid black;"></th>
    </tr>
    {% endfor %}
</table>
</html>
