<html>
<center><h1>Disc Golf</h1><center>
<table style="border-collapse:collapse">
    <tr>
        <th style="border:1px solid black;">Date</th>
        {% for i in range(10) %}
        <th style="border:1px solid black;">{{ i + 1 }}</th>
        {% endfor %}
    </tr>
    {% for date in dates %}
    <tr>
        <td style="border:1px solid black;">{{date.strftime('%b %d')}}</td>
        {% for i in range(10) %}
        <th style="border:1px solid black;"></th>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</html>
