<html>
<center><h1>{{title}}</h1></center>
<table style="border-collapse:collapse; width:100%">
    {% for i in range(20) %}
    <tr>
        {% for date in dates %}
        <td style="border:1px solid black;"></td>
        {% endfor %}
        {% for step in unit_steps %}
        <td style="border:1px solid black;">{{step[19-i]}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr>
        {% for date in dates %}
        <td style="border:1px solid black;">{{date.strftime('%d')}}</td>
        {% endfor %}
        {% for unit in units %}
        <td style="border:1px solid black;">{{unit}}</td>
        {% endfor %}
    </tr>
</table>
</html>


