<html>
    <style>
    td {border: 1px solid lightgray;
        width: 33%;
        vertical-align: top;}
    </style>
    <center><h1>Hospitality</h1></center>
    <table style="border-collapse:collapse; width:100%">
        <tr style="border: 1px solid lightgray; height:150px">
            <td></td>
            <td><center>Gigi</center></td>
            <td></td>
        </tr>
        <tr style="border: 1px solid lightgray; height:150px">
            <td></td>
            <td><center>Time with Friends</center></td>
            <td></td>
        </tr>
        <tr style="border: 1px solid lightgray; height:150px">
            <td></td>
            <td><center>Call Brady</center></td>
            <td></td>
        </tr>
    </table>
    <table style="border-collapse:collapse; width:100%">
        <tr style="border: 1px solid lightgray; height:150px">
            <td style="width: 100%"><center>Invite some one over for dinner</center></td>
        </tr>
        <tr style="border: 1px solid lightgray; height:150px">
            <td style="width: 100%"><center>Guys Night</center></td>
        </tr>
    </table>
</html>
