<table style="width:100%; border-collapse:collapse">
    <tr style="height: auto;">
        <th colspan="{{max_cells}}" style="text-align:center; font-size:24px;">{{title}}</th>
    </tr>
    {% for row in rows %}
        <tr style="height:50px;">
            <td colspan="{{max_cells}}" style="border-top: 1px solid black;">&nbsp;</td>
        </tr>
        <tr style="height: auto;">
            <th colspan="{{max_cells}}" style="text-align:center;">{{row[0]}}</th>
        </tr>
        <tr style="height:150px;">
            {% for i in range(0, row[1]) %}
                <td style="border: 1px solid black;"></td>
            {% endfor %}
        </tr>
    {% endfor %}
</table>

