<html>
<style>
div {
    background-image: url("static/{{background}}"); 
    opacity: 0.3;
    background-size: 100%;
}
img.bg_image {
    opacity:0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
</style>
<center><h1>{{ title | safe}}</h1></center>
<img class="bg_image" src="http://localhost:5000/static/{{background}}"/>

    {% for section in sections %}
        <center><h2>{{section}}</h2></center>
        {% for i in range(rows) %}
            <img style="margin:  0; height:{{height}}px" src="http://localhost:5000/static/{{img}}"/>
            <hr size="3px" width="100%"/>
        {% endfor %}
    {% endfor %}

</html>
