<html>
<style>
div {
    background-image: url("static/{{background}}"); 
    opacity: 0.3;
    background-size: 100%;
}
img.bg_image {
    opacity:{{opacity}};
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
</style>
<center><h1>{{ title | safe}}</h1></center>
{% if background %}
<img class="bg_image" src="http://localhost:5000/static/{{background}}"/>
{% endif %}

    {% for i in range(rows) %}
        <img style="margin:  0; height:{{height}}px" src="http://localhost:5000/static/{{icon}}"/>
        <hr size="3px" width="100%" />
    {% endfor %}

</html>
