<html>
<style>
div {
    background-image: url("static/backgrounds/{{background}}"); 
    opacity: 0.3;
    background-size: 100%;
}
img.bg_image {
    opacity:0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
</style>
<center><h1>{{ title }}</h1></center>
<img class="bg_image" src="http://localhost:5000/static/backgrounds/{{background}}"/>

    {% for i in range(rows) %}
        <img style="margin:  0; height:{{height}}px" src="http://localhost:5000/static/{{img}}"/>
        <hr size="3px" width="100%" style="margin: 0 2 8 2;height:2px;border-width:0;color:black;background-color:black"/>
    {% endfor %}

</html>
