<html>
    <style>
    td {
        border: 1px solid lightgray;
        text-align: center;
        width: 33%;
    }
    img {
        height: 120px;
    }
    span {
        display: block;
        margin-top: 8px;
    }
    </style>
    <center><h1>{{ title }}</h1></center>
    <table style="border-collapse:collapse; width:100%">
        {% for row in rows %}
            <tr>
                {% for item in row %}
                    <td>
                        <img src="{{ item.image_url }}" />
                        <span>{{ item.title }}</span>
                        <span>{{ item.extra }}</span>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</html>

