<html>
    <center><h1>{{title}}</h1></center>
    <div style="display: flex; flex-direction: column; width: 100%">
        {% for i in range(rows) %}
        <div style="display: flex; flex-drection: row; flex-grow: 1" >
            <div style="flex: 1; height:150px; border: 1px solid lightgray"></div>
            <div style="flex: 3; display: flex; flex-direction: column">
                <div style="flex: 1; border: 1px solid lightgray">{{top_prompt}}:</div>
                <div style="flex: 1; border: 1px solid lightgray">{{bottom_prompt}}:</div>
            </div>
        </div>
        {% endfor %}
    </div>
</html>
