<html>
    <center><h1>{{title}}</h1></center>
    <table style="width: 100%">
        {% for i in range(rows) %}
        <tr style="width:100%" >
            <td style="height:120px; width:20%; border: 1px solid lightgray" rowspan="2"></td>
            <td style="height:60px; border: 1px solid lightgray; width:80%; vertical-align: top">{{top_prompt}}:</td>
        </tr>
        <tr>
            <td style="height:60px; border: 1px solid lightgray; width:80%; vertical-align: top">{{bottom_prompt}}:</td>
        </tr>
        {% endfor %}
    </div>
</html>
