<html>
    <style>
    td {border: 1px solid lightgray;
        width: 33%;
        vertical-align: top;}
    </style>
    <center><h1>Misc Objectives</h1></center>
    <table style="border-collapse:collapse; width:100%">
        <tr ><td colspan=3><center>Finish Urbosa</center></td></tr>
        <tr>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/battery.png" style="height: 120px"/></center>
                <center>Floor Matts</center>
            </td>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/current_warning.png" style="height: 120px"/></center>
                <center>Belts and Fluids</center>
            </td>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/steering_wheel.png" style="height: 120px"/></center>
                <center>Rims w/ Snowtires</center>
            </td>
        </tr>
        <tr ><td colspan=3><center>New video games</center></td></tr>
        <tr>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/joystick.png" style="height: 120px"/></center>
                <span>Name:</span>
                <center>☆☆☆☆☆</center>
            </td>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/joystick.png" style="height: 120px"/></center>
                <span>Name:</span>
                <center>☆☆☆☆☆</center>
            </td>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/joystick.png" style="height: 120px"/></center>
                <span>Name:</span>
                <center>☆☆☆☆☆</center>
            </td>
        </tr>
        <tr ><td colspan=3><center>New board/card games</center></td></tr>
        <tr>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/d20.png" style="height: 120px"/></center>
                <span>Name:</span>
                <center>☆☆☆☆☆</center>
            </td>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/d20.png" style="height: 120px"/></center>
                <span>Name:</span>
                <center>☆☆☆☆☆</center>
            </td>
            <td style="height:180px;">
                <center><img src="http://localhost:5000/static/d20.png" style="height: 120px"/></center>
                <span>Name:</span>
                <center>☆☆☆☆☆</center>
            </td>
        </tr>
    </table>
</html>
