<html>
    <center><h1>Misc Objectives</h1></center>
    <div style="display: flex; flex-direction: column; width: 100%">
        <center>Fix Lucy's Car</center>
        <div style="display: flex; flex-drection: row; flex-grow: 1" >
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/battery.png" style="height: 120px"/></center>
                <center>Adapt battery</center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/current_warning.png" style="height: 120px"/></center>
                <center>Resolve over-current protection</center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/steering_wheel.png" style="height: 120px"/></center>
                <center>Teach Lucy to drive!</center>
            </div>
        </div>
        <center>New video games</center>
        <div style="display: flex; flex-drection: row; flex-grow: 1" >
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/joystick.png" style="height: 120px"/></center>
                <div>Name:</div>
                <center><div>☆☆☆☆☆</div></center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/joystick.png" style="height: 120px"/></center>
                <div>Name:</div>
                <center><div>☆☆☆☆☆</div></center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/joystick.png" style="height: 120px"/></center>
                <div>Name:</div>
                <center><div>☆☆☆☆☆</div></center>
            </div>
        </div>
        <center>New board/card games</center>
        <div style="display: flex; flex-drection: row; flex-grow: 1" >
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/d20.png" style="height: 120px"/></center>
                <div>Name:</div>
                <center><div>☆☆☆☆☆</div></center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/d20.png" style="height: 120px"/></center>
                <div>Name:</div>
                <center><div>☆☆☆☆☆</div></center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/d20.png" style="height: 120px"/></center>
                <div>Name:</div>
                <center><div>☆☆☆☆☆</div></center>
            </div>
        </div>
        <center>Brew rootbeer</center>
        <div style="display: flex; flex-drection: row; flex-grow: 1" >
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/bottle.png" style="height: 160px"/></center>
                <center><div>☆☆☆☆☆</div></center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/bottle.png" style="height: 160px"/></center>
                <center><div>☆☆☆☆☆</div></center>
            </div>
            <div style="flex: 1; height:200px; border: 1px solid lightgray">
                <center><img src="http://localhost:5000/static/bottle.png" style="height: 160px"/></center>
                <center><div>☆☆☆☆☆</div></center>
            </div>
        </div>
    </div>
</html>
