<html>
    <center><h1>{{title}}</h1></center>
    <table style="border-collapse:collapse; width:100%">
        {% for i in range(rows) %}
        <tr>
            {% if row_titles is defined %}
                <td style="width:100px; border: 1px solid black;">{{row_titles[i]}}</td>
            {% endif %}
            {% for j in range(cols) %}
                {% if pic_width is defined %}
                    <td style="border: 1px solid black;"><img src="/static/{{picture}}" style="object-fit: cover; width:{{pic_width}}%"/></td>
                {% else %}
                    <td style="border: 1px solid black;"><center><img src="/static/{{picture}}" style="object-fit: cover; width:75%; opacity: 0.5"/></center></td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</html>
