<html>
<center><h1>{{season}} in pixels</h1></center>
<div style="width: 50%; float:left; justify-content: center; vertical-align: middle;">
    <div style="margin-left:33%; margin-top:300px">
        <ul style="list-style-type:none;">
        {% for emotion in emotions %}
            <li style="font-size:1.5em">☐ {{emotion}}</input></li>
        {% endfor %}
        </ul>
    </div>
</div>
<div style="width: 50%; float:left; justify-content: center; vertical-align: middle; margin-top:100px">
    {% for month in months %}
    <center><h2>{{month}}</h2></center>
    <div style="margin-left:20%;">
        <table style="border-collapse:collapse">
            {% for week in weeks[month] %}
                <tr>
                    {% for day in week %}
                        {% if day == '' %}
                            <th style="border:0px solid white; width:20px"></th>
                        {% else %}
                            <th style="border:1px solid black; width:20px">{{day}}</th>
                        {% endif %}
                    {% endfor %} 
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endfor %}
</div>
</html>
