<html>
<center><h1>Weekly planner for {{season}}</h1></center>
<table style="border-collapse:collapse; width:100%">
    <tr>
        <th style="border:1px solid black;">Activity</th>
        {% for week in weeks %}
            <th style="border:1px solid black;">{{week.strftime('%b %d')}}</th>
        {% endfor %}
    </tr>
    {% for activity in activities %}
    <tr>
        <th style="border:1px solid black;">{{activity}}</th>
        {% for week in weeks %}
        <td style="border:1px solid black;" border="1px"></td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
</html>
